/*
The Name: Arch Move
*/



@font-face {
    font-family: NewYorkExtraLargeBold;
    src: url(./assets/fonts/NewYorkExtraLargeBold.otf) format("woff2");
}

@font-face {
    font-family: SFUIDisplay-Light;
    font-weight: 300;
    font-style: normal;
    src: url(./assets/fonts/SFUIDisplay-Light.woff) format("woff2");
}

@font-face {
    font-family: SFUIDisplay-Regular;
    font-weight: 400;
    font-style: normal;
    src: url(./assets/fonts/SFUIDisplay-Regular.woff) format("woff2");
}

@font-face {
    font-family: SFUIDisplay-Semibold;
    font-weight: 600;
    font-style: normal;
    src: url(./assets/fonts/SFUIDisplay-Semibold.woff) format("woff2");
}

@font-face {
    font-family: SFUIDisplay-Bold;
    font-weight: 700;
    font-style: normal;
    src: url(./assets/fonts/SFUIDisplay-Bold.woff) format("woff2");
}
html, 
body {
    font-family: "SFUIDisplay-Regular";
    color: #000000;
}
*:focus {
    outline: none;
}

.header {
    max-width: 1440px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    width: 60px;
    height: 28px;
    margin-right: 38px;
    margin-left: 50px;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.nav__list-item {
    list-style-type: none;
    padding: 0 25px;
    
}

.nav__link {
    font-family: "SFUIDisplay-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #585858;
}

.nav__list {
    display: flex;
}

.header__autorization {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search {
    width: 18px;
    height: 18px;
    margin-right: 24px;
}

.header__btn--sing-in {
    width: 91px;
    height: 48px;
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #585858;
    border: none;
    background-color: #fff;
    border-radius: 4px;
}

.header__btn--sing-up {
    width: 100px;
    height: 48px;
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    border: none;
    background-color: #FD665E;
    border-radius: 4px;
    margin-right: 50px;
}

.header__btn--sing-up:hover {
    opacity: 0.6;
}

.main__title {
    font-family: "NewYorkExtraLargeBold";
    font-weight: 600;
    font-size: 112px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
    width: 870px;
    margin: 50px 0; 
}

.main__title span {
    color: #FD665E;
}

.main__text {
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 290px;
}

.btn {
    font-family: "SFUIDisplay-Semibold";
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background-color: #FD665E;
    border-radius: 4px;
    border: none;
}

.btn:hover {
    opacity: 0.6;
}

.main__btn {
    width: 179px;
    height: 56px;
    margin-top: 48px;
}

.main__img {
    width: 765px;
    height: 480px;
    padding-bottom: 48px;
}

.main__inner {
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "NewYorkExtraLargeBold";
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    letter-spacing: -0.04em;
    color: #000000;
}

.gallery__title {
    width: 535px;
    text-align: center;
    margin: 0 auto;
    padding-top: 64px;
    padding-bottom: 40px;
}

.gallery-inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 432px;
    gap: 45px;
    padding-bottom: 64px;
}

.gallery__link {
    display: block; 
    position: relative;
}

.gallery__link:after {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.5);  
    opacity: 0; 
}

.gallery__link::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url(./assets/img/hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;  
    z-index: 1; 
}

.gallery__link:hover:before,
.gallery__link:hover:after { 
    opacity: 1;
}

.features__title {
    padding-top: 64px;
    padding-bottom: 40px;
}

.features__img {
    height: 610px;
    width: 535px;
    padding-bottom: 64px;
}

.feature__title {
    font-family: "SFUIDisplay-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    padding-bottom: 8px;
}

.feature__text {
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 305px;
}

.feature__info {
    display: flex;
    flex-direction: column;
}

.features__feature {
    display: flex;
    justify-content: space-between;
    max-width: 390px;
    padding:24px 0;
}

.features__icon-box {
    padding-right: 40px;
}

.features__inner {
    display: flex;
    justify-content: space-between;
}

.features__btn {
    margin-top: 48px;
    margin-left: 86px;
    height: 56px;
    width: 175px;
    left: 938px;
}

.reviews-top__title {
    padding-top: 64px;
    max-width: 374px;
}

.review__text {
    font-family: "SFUIDisplay-Light";
    font-weight: 300;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
    padding-top: 40px;
}

.reviews-slider__item {
    position: relative;
    padding-left: 345px;
}

.review__text::before {
    content: '';
    background-image: url(./assets/img/hooks.svg);
    position: absolute;
    top: 44px;
    left: 224px;
    height: 40px;
    width: 57px;
}

.review__autor-name {
    font-family: "SFUIDisplay-Bold";
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.review__autor-prof {
    font-family: "SFUIDisplay-Regular";
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #000000;
}

.review__autor {
    padding-top: 58px;
}

.reviews__img {
    padding-top: 140px;
    padding-bottom: 64px;
}

.reviews-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews-bottom__title {
    max-width: 535px;
    padding-bottom: 64px;
    padding-top: 100px;
}

.reviews-bottom__title span {
    color: #FD665E;
}

.reviews__btn {
    height: 56px;
    width: 204px;
}

.partners__title {
    padding-top: 64px;
    padding-bottom: 56px;
}

.partners__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 106px;
}

.footer {
    height: 208px;
    display: flex;
    align-items: center;
}

.nav__link {
    text-decoration: none;
}

.nav__list .nav__list-item:first-child {
    padding-left: 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.mfp-bottom-bar {
    display: none;
}

img.mfp-img {
    height: 100vh ;
}